version: '3'
services:
  nginx:
    image: nginx:1.17-alpine # nginxのimageにnginx:1.17-alpineを指定
    container_name: "nginx"
    ports:
      - "8080:80" # ホストの8080ポートでnginxコンテナの80にアクセス
    volumes:
      - ./src:/var/www # ホストのsrcをnginxコンテナの/var/wwwにマウント
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf # 作成したdefault.confを/etc/nginx/conf.d/default.confにマウント
    depends_on: # コンテナの依存関係を定義する
      - php-fpm # php-fpmの起動後にnginxを起動
  php-fpm:
    build: ./docker/php # ./docker/php/Dockerfileをbuildしてイメージ作成
    container_name: "php-fpm"
    volumes:
      - ./src:/var/www # ホストのsrcをphp-fpmコンテナの/var/wwwにマウント
    links: # コンテナと他のサービスを繋げる
      - db
    depends_on:
      - db # dbの起動後にphp-fpmを起動
  db:
    volumes:
      - ./docker/mysql/conf.d:/etc/mysql/conf.d # mysqlのせってファイルをマウント
      - ./docker/mysql/data:/var/lib/mysql # mysqlのデータ永続化
    platform: linux/x86_64
    image: mysql:5.7
    container_name: laravel_db
    ports:
      - 3333:3306
    environment:
      MYSQL_DATABASE: laravel_app #.envのDB_DATABASE
      MYSQL_USER: laravel #.envのDB_USERNAME
      MYSQL_PASSWORD: laravel #.envのDB_PASSWORD
      MYSQL_ROOT_PASSWORD: root
      TZ: "Asia/Tokyo"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  db-testing:
    volumes:
      - ./docker/db-test/conf.d:/etc/mysql/conf.d # mysqlのせってファイルをマウント
#      - ./docker/db-test/data:/var/lib/mysql # mysqlのデータ永続化
    platform: linux/x86_64
    image: mysql:5.7
    container_name: laravel_test_db
    ports:
      - 3033:3306
    environment:
      MYSQL_DATABASE: laravel_test_app #.envのDB_DATABASE
      MYSQL_USER: test_laravel #.envのDB_USERNAME
      MYSQL_PASSWORD: test_laravel #.envのDB_PASSWORD
      MYSQL_ROOT_PASSWORD: root
      TZ: "Asia/Tokyo"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci